.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;

    padding: 2rem 0;

    border-radius: 5px;

    box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);

    background: white;

    min-width: 22rem;
}

.name {
    margin-top: 1rem;
}

.email,
.password,
.name {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    margin-bottom: 1rem;
}

.email input,
.password input,
.name input {
    outline: none;

    border: 2px solid #eee;
    border-radius: 10px;

    box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);

    height: 1.5rem;

    padding: .2rem .5rem;
    margin-top: 0.2rem;

    font-size: inherit;
}

.email input:focus,
.password input:focus {
    border: 2px solid #2389fd;
}

.btn {
    margin-top: 1rem;
}