.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;

    padding: 2rem 0;

    border-radius: 5px;

    box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);

    background: white;

    min-width: 22rem;
}

.name {

}

.email,
.password,
.name {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    margin-bottom: 1rem;
}

.email input,
.password input,
.name input {
    outline: none;

    border: 2px solid #eee;
    border-radius: 10px;

    box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);

    height: 1.5rem;

    padding: .2rem .5rem;
    margin-top: 0.2rem;

    font-size: inherit;
}

.email input:focus,
.password input:focus {
    border: 2px solid #2389fd;
}

.btn {
    margin-top: 1rem;
}

.avatar {
    position: relative;

    cursor: pointer;

    margin-top: 1rem;
}

.avatar img {
    width: 150px;
    height: 150px;

    border-radius: 50%;

    overflow: hidden;
}

.avatarSkeleton {
    border-radius: 50%;

    width: 150px;
    height: 150px;

    background: #eee;

    box-shadow: inset 0 0 50px rgba(171, 171, 171, 0.7);
    animation: glowing 1.5s infinite;
}

.avatarTip {
    position: absolute;
    right: 32%;
    top: 30%;

    font-size: 3rem;

    border-radius: 50%;

    padding: 0 .9rem;

    color: #ffffff;

    transform: scale(0);

    transition: .2s;
}

.avatarDelete {
    position: absolute;
    right: 30%;
    top: 30%;

    font-size: 3rem;

    border-radius: 50%;

    padding: .5rem .5rem;

    color: #ffffff;

    transform: scale(0);

    transition: .2s;
}

.visible {
    transform: scale(1);

    background: rgba(204, 204, 204, 0.95);
}

.hidden {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

@keyframes glowing {
    0% {
        box-shadow: inset 0 0 50px rgba(171, 171, 171, 0.7); /* Начальное свечение и прозрачность */
    }
    50% {
        box-shadow: inset 0 0 50px rgba(171, 171, 171, 0.3); /* Половина времени с меньшей прозрачностью */
    }
    100% {
        box-shadow: inset 0 0 50px rgba(171, 171, 171, 0.7); /* Завершение с начальным свечением */
    }
}

@media (max-width: 420px) {
    .form {
        min-width: auto;
        width: 100%;
    }

    .form h1 {
        font-size: 1.2rem;
    }

    .email label,
    .password label,
    .name label {
        font-size: .9rem;
    }
}