.comments {
    margin-top: 2rem;

    padding: 1rem;

    border-radius: 5px;
    border: 2px solid #eee;

    background: white;

    box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);
}

.commentsSingle {

}

.headerRow {
}

.header {
}

.commentRows {

}

.commentRow {
    display: flex;
    align-items: center;

    margin-top: 1rem;
}

.avatar {
    width: 45px;
    height: 45px;

    align-self: start;

    margin-right: 0.5rem;
}

.content {
    display: flex;
    flex-direction: column;

}

.name {
    font-size: 0.9rem;
}

.text {
    font-size: 0.8rem;

    color: #9d9d9d;
}