.postMulti {
    width: 45rem;
    height: auto;

    margin-bottom: 2rem;

    position: relative;

    background: white;
}


.postSingle {
    position: relative;

    background: white;

    width: auto;
    max-width: 1024px;
}

.actionMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;

    padding: 0 0.3rem;

    border-radius: 5px;

    background: #eee;

    display: flex;
    align-items: center;

    transform: translateX(0);

    transition: .2s;
}

.hidden {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;

    transform: translateX(50px);
}

.edit {
    font-size: 1.5rem;

    margin-right: .5rem;

    cursor: pointer;
}

.delete {
    font-size: 1.5rem;

    cursor: pointer;
}

.imgContainer {
    overflow: hidden;

    height: 60%;
    max-height: 768px;

    border-radius: 5px 5px 0 0;
}

.img {
    width: 1024px;
}

.imgContainerMulti {
    max-height: 768px;
}

.imgMulti {
    max-width: 100%;
}

.content {
    height: 40%;

    padding: 1rem;

    border-top: none;
    border-radius: 0 0 5px 5px;

    box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);
}

.contentSingle {
    padding-bottom: 1rem;
}

.author {
    display: flex;

}

.avatar {
    width: 30px;
    height: 30px;

    margin-right: 0.5rem;
}

.info {
    display: flex;
    flex-direction: column;

}

.name {
    font-size: 0.9rem;
}

.date {
    font-size: 0.7rem;

    color: #9d9d9d;
}

.headerContainer {
    margin-top: .5rem;
}

.header {
    padding-left: 3rem;
}

.textContainer {
    margin-top: .5rem;
    margin-left: 3rem;

}

.text {
}

.tagsContainer {
    margin-top: .4rem;
    padding-left: 3rem;
}

.tagsContainer span {
    font-size: 0.8rem;

    color: #9d9d9d;

    margin-right: 1rem;
}

.reactions {
    margin-top: 1rem;
    padding-left: 3rem;

    display: flex;
    align-items: center;
}

.views,
.comments {
    display: flex;
    align-items: center;

    color: #9d9d9d;
}

.views {
    margin-right: 1rem;
}

.views span,
.comments span {
    font-size: 0.8rem;
}