* {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
}

.tox-statusbar__branding,
.tox-statusbar__path-item {
  visibility: hidden;
}

body {
  background: rgba(204, 204, 204, 0.2);
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote {
  padding: .2rem;

  background: rgba(157, 157, 157, 0.1);

  border-radius: 5px;
}