.pageContent {

}

.pageContentWrapper {
    padding-top: 5rem;

    display: flex;
    justify-content: center;
    align-items: start;
}

.posts {
    margin-right: 3rem;
}

.side {
    width: 20rem;
}