.pageContent {
    display: flex;
    justify-content: center;
    align-items: start;

}

.pageContentWrapper {
    padding: 1rem;

    display: flex;
    justify-content: start;
    flex-direction: column;

    width: 65%;
}

.post {
    margin-bottom: 2rem;
}

.toMainBtn {
    margin-bottom: 1rem;
}

.comments {
}

@media (max-width: 1920px) {}

@media (max-width: 1280px) {
    .pageContentWrapper {
        width: 75%;
    }
}

@media (max-width: 960px) {
    .pageContentWrapper {
        width: 100%;
    }
}

@media (max-width: 640px) {}

@media (max-width: 320px) {}