.pageContent {
    display: flex;
    justify-content: center;
    align-items: start;

}

.pageContentWrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    justify-content: start;
    flex-direction: column;

    width: auto;
    max-width: 1024px;
}

.post {
    margin-bottom: 2rem;
}

.toMainBtn {
    margin-bottom: 1rem;
}

.comments {
}

@media (max-width: 1920px) {}

@media (max-width: 1280px) {
    .pageContentWrapper {
        max-width: 800px;
    }
}

@media (max-width: 960px) {
    .pageContentWrapper {
        max-width: none;
        width: 100%;

        display: block;
    }

    .post {
        padding: 0 1rem;
    }

    .comments {
        padding: 0 1rem;
    }
}

@media (max-width: 640px) {}

@media (max-width: 320px) {}