.pageContent {
    display: flex;
    justify-content: center;
    align-items: start;

}

.pageContentWrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    justify-content: start;
    flex-direction: column;

    width: auto;
    max-width: 1024px;
}

.post {
    margin-bottom: 2rem;
}

.toMainBtn {
    margin-bottom: 1rem;
}

.comments {
}